@charset "utf-8";

.header{
    height: 90vh;
    background: url(dell.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.footer{
    height: 60vh;
    background:url(b.jpg.jpg);
    background-position: center;
    background-size: cover ;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


  ul{
    list-style:none ; 
    
  }
  a{
    text-decoration: none;
  }
  
  nav{
    display:flex;
    
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px;
    background-color: #8200d8;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    
    
  }
  .navbar-nav{
    display: flex;
  }
  .navbar-nav{
    font-family: myriad pro regular;
    color: #505050;
    padding-left:40%;
    justify-content:space-between;
    font-size: 18px;
    font-weight: 650;
    padding-bottom: 5px;
    background-color: #8200d8;
  }
  .navbar-nav a{
      margin-right: 15px;
  }
  .navbar-brand img
  {    
      height: 80px;
      width: 80px;   

  }
  .active{
    font-weight: bold;
    color: #2d2a2a;
  }
  .text-container p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#27006e;
    font-size: 22px;
  }
  .text-container p:nth-child(2){
    font-family:myriad pro regular ;
    font-weight: bold;
    letter-spacing: 1px;
    color:#27006e;
    font-size: 30px;
  }
  .text-container p:nth-child(3){
    font-family:myriad pro regular ;
    color:#27006e;
    font-size: 22px;
    list-style: 30px;
  
}
  .text-container p{
      line-height: 0px;
      margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left:13%;
    top:42%;
    transform: translate(-13%, -42px);
}

.about-container{
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;  
}
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color: #27006e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 23px;  
   line-height: 0px;
}

.about-text p:nth-child(2){
    padding-top: 8px;
    color: #27006e;
    font-family: myriad pro;
    font-size: 16px;  
    line-height:20px;  
}
.about-text button{
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline:none;
    border: none;
    font-size: 12px;
    font-family: calibri;
    background-color:#8200d8 ;
   
   
}
button:active{
    transform:scale(1.1);
}
.service{
   
    height: 450px;
    background-color:#ffffff;    
    padding:2% 10% 0px 10%;

}
.service-text p:nth-child(1){
    font-family:myriad pro regular ;
    font-weight: bold;
    letter-spacing: 1px;
    color:#29f700;
    font-size: 25px;
    padding-top: 5PX;
}

.services-text{
    width:500px;
    margin:50px 0px;
}
.box-1,.box-2,.box-3{
    width: 300px;
    height: 320px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0.2, 0.8);
    background-color: #8200d8;
}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1 span,
.box-2 span,
.box-3 span{
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: cambria;
    font-weight: bold;
    color: #8200d8;
}

table {
    border-collapse: separate;
    
  }
th,td{
    font-size: 15px;
    padding: 10px;
    color: #FFFFFF;
    justify-content: 10px;
}

.service-text1 p:nth-child(1){
    font-family:myriad pro regular ;
    font-weight: bold;
    letter-spacing: 1px;
    color:#29f700;
    font-size: 25px;
    padding-top: 5PX;
    margin-left: 10%;
}
.services-text1{
    width:500px;
    margin:50px 0px 10%;
}
.another-containers{
    width: 90%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    margin: 0% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.another-containers img{
    height: 250px;  
}
.skills-bar{
    width: 550px;
}

.box-container{
    display: flex;
    justify-content: space-between;
}
.services{
    height: 600px;
    background-color:#ffffff;
    padding:2% 5% 0px 5%;

}
.services-text p{
    font-family: cambria;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;
}
.services-text{
    width: 500px;
    padding-right: 30px;
    padding-left: 30px;
}

.box-01,.box-002{
    width:550px;
    height: 430px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    align-content:center;
    background-color: blueviolet;
    display: flex;
    
}
.box1{
    padding: 7px;
    width: 300px;
    font-family: cambria;

}
.box1, h3{
    color: #ffffff;
}
.box1 p{
    color: #ffffff;
    font-size: 13px;
}
.box-02{
    margin-left: 10%;
    width:518px;
    height: 430px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    align-content:center;
    background-color: blueviolet;
}
.box2{
    background-image: url(smartStreet.png);
    width:518px;
    height:250px;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.boxstr{
    padding-left: 10px;
    font-family: cambria;
}
.boxstr h3{
    color: #ffffff;
    margin-top: -2px;
}
.boxstr p
{
    color: #ffffff;
    font-size: 13px;
    
}
.box-containers{
    display: flex;
    justify-content: space-between;
    
}
.box-01 span,
.box-02 span{
    width:40px;
    height: 40px;
    border-radius: 50%;
    color: #27006e;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    font-family: cambria;
    font-weight: bold;
}

.services-text2{
    width:500px;
    margin:50px 0px 10%;
}

.service-text2 p:nth-child(1){
    font-family:myriad pro regular ;
    font-weight: bold;
    letter-spacing: 1px;
    color:#29f700;
    font-size: 25px;
    padding-top: 5PX;
    margin-left: 10%;
}
.another-container3{
    width: 70%;
    height: 400px;
    background-color: #8200d8;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    display: flex;
    margin: 0% auto 40px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.box table {
    border-collapse: separate;
    padding-left:7%;
    padding-right:7%;
    padding-top:3%;
  }
  .box th{
    font-family: cambria;
    font-size: 15px;
    padding: 10px;
    color:   #ffffff;
    justify-content: 10px;
}
.box td{
    font-family: cambria;
    font-size: 15px;
    padding: 10px;
    color:   #ffffff;
    justify-content: 10px;
}

footer{
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact,footer h1:nth-child(1){
    font-size: 15px;
    font-weight: bold;
    color: #191919;   
}


.icon a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50px;
}
.icon{
    display: flex;
    font-size: 20px;
    justify-content: center;
}
.Copyright{
    height: 50px;
    padding-top: 15px;
    color:#ffffff;
    font-size: 13px;
    align-items: center;
    
}

.social-icon a:hover, .icon a:hover{
     background-color: #c474e9;
     box-shadow:2px 2px 12px rgb(0,0,0,0.4);
     transition: all ease 0.5s;
 }
 .social-icon{
     position: fixed;
     top:50%;
     right: -23px;
     transform: translateX(-50%);
 }
.social-icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding:0px;
    margin:0px;
    line-height:0px ;
    background-color: #ffffff;
    border: 1px solid #cacaca;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
} 
.social-icon i{
   font-size: 20px;
}
.contact{
    padding-top: 50px;
    color: #27006e;
}
.contact h2{
    font-family: cambria;
}


.skills-bar{
    margin-bottom: 6px;
    font-weight: 600;
}
.skills-bar p{
    color:#27006e;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar{
    border-radius: 16px;
    background: #8200d8 !important;
}
/* bootstrap */
@media (max-width: 10000px){
    .services-text1,.another-container3
    {
        height: auto; 
    }
    .another-container3,.services-text1{
       
        margin-top: 10px;
        padding: 2% 5% 0px 5%; 
    }
}
@media (max-width: 1000px){
    *{
        box-sizing: border-box;
    }
    .text-container{
        top:46%;
    }
    .text-container{
       width: 90%;
       border-radius: 10px;
    }
    .about-container img{
        height: 200px;
    }
    
    .about-text{
        width: 400px;
    }
    .about-text p:nth-child(1){
        font-size: 20px;
    }
    .about-text p:nth-child(2){
        font-size: 10px;
    }
    .another-containers img{
        height: 150px;
    }
    .skills-bar{
        width: 200px;   
    }
    
    .service{
        padding: 2% 5% 0px 5%;
    }
    .box-container{
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .service{
        height: auto;
    }
    .box-1,.box-2,.box-3{
        flex-grow: 1;
        margin: 10px;
    }
    .box-containers{
        justify-content: center;
        flex-wrap: wrap;
    }
    .services{
        height: auto;
        padding: 2% 5% 0px 5%;
    }
    .box-01,.box-02{
        
        margin: 10px;
    }
    .services-text1,.another-container3
    {
        height: auto; 
    }
    .another-container3,.services-text1{
       
        margin-top: 10px;
        padding: 2% 5% 0px 5%; 
    }
    .nav{
        width: auto;
        height: auto;
    }
    .navbar-nav{
        width: auto;
        height: auto;
        font-size: 13px;
        display: flex;
    }
}

    
@media(max-width:750px){
    .text-container p:nth-child(2){
        line-height: 40px;
        margin: 0px;
        padding: 0px;
    }
    .text-container{
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }
    
    .about-container{
        top:0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 0px;
        align-items: center;
    }
    .about-text{
        width: 90%;
        text-align: center;
    }
    .another-containers{
        top:0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 0px;
        align-items: center;
    }
    .box-containers{
        top:0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 0px;
        align-items: center;  
    }
    .services{
        height: auto;
    }
    .box-01,.box-02{
        top:0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 30px 0px;
        align-items: center;  
        margin: 10px;
    }
    .box2{
        top:0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 20px 0px;
        align-items: center; 
    }
    .box1
    {
        top:0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 20px 0px;
        align-items: center;   
    }
    .navbar-nav a{
        width: auto;
        height: 20px;
        font-size: 12px;
        
    }
   
    
}
@media(max-width:400px){
    
    .nav{
        width: auto;
        height: auto;
    }
     .nav{
        width: auto;
        height: auto;
    }
    .navbar-nav a{
        width: auto;
        height: 20px;
        font-size: 10px;
        padding-bottom: 5px;
    }
    
}

  
  